/* @use './variables' as *; */

//reset 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//stilizzo un comntainer che sia comune a tutts la pagina
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}

h2{
    display: inline-block;
    background-color: #0282F9 /* $primary */;
    padding: 10px 30px;
    text-transform: uppercase;

    transform: translateY(-50%)
}