//reset 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//stilizzo un comntainer che sia comune a tutts la pagina
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}
header{
    height: 130px;
    background-color: black;
    color: white;
    padding: 20px 0px;
    
}